:root {
  color-scheme: dark;
  --cube-size: 5rem;
  --camera-distance: 50rem;
  --air-image: none;
  pointer-events: none;
}

label,
button {
  cursor: pointer;
}

h1,
p {
  margin: 0;
}

h1,
strong {
  font-weight: 600;
}

a {
  color: inherit;
}
