---
import { layers, blocks, columns, rows } from '@/data';
import '@/styles/icons.css';
import '@/styles/main.css';
import Info from '@/components/info.astro';
import Controls from '@/components/controls.astro';
import Stone from '@/assets/stone.png';

import { getImage, Image } from 'astro:assets';

const stoneImage = await getImage({ src: Stone });
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="A Minecraft clone made with pure HTML & CSS - no JavaScript."
    />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Minecraft</title>

    <link rel="icon" href="../assets/icon.png" />

    <!-- <link rel="stylesheet" href="../styles/icons.css" /> -->
    <!-- <link rel="stylesheet" href="../styles/main.css" /> -->

    <!-- <link rel="preload" as="image" href="../assets/azalea_leaves.png" />
    <link rel="preload" as="image" href="../assets/dirt.png" />
    <link rel="preload" as="image" href="../assets/glass.png" />
    <link rel="preload" as="image" href="../assets/grass_carried.png" />
    <link rel="preload" as="image" href="../assets/grass_side_carried.png" />
    <link rel="preload" as="image" href="../assets/log_oak.png" />
    <link rel="preload" as="image" href="../assets/pickaxe.png" />
    <link rel="preload" as="image" href="../assets/stone.png" /> -->
  </head>
  <body>
    <Info />
    <Controls />
    <!-- <img src={stoneImage.src}/> -->
    <Image src={stoneImage.src} alt="Hello" height={100} width={100} />
  </body>
</html>

<style
  define:vars={{
    layers,
    columns,
    rows,
    'stone-image': `url(${stoneImage.src})`,
  }}
>
  body {
    color: white;
    background-color: lightskyblue;
    block-size: 100dvb;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
    overflow: hidden;
    display: grid;
    place-content: center center;
  }
</style>
