---
const blocks = [
  'air',
  'stone',
  'grass',
  'dirt',
  'log',
  'wood',
  'leaves',
  'glass',
];
const layers = 9;
const rows = 9;
const columns = 9;
import '@/styles/main.css';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro Minecraft</title>
  </head>
  <body>
    <h1>Astro</h1>
  </body>
</html>

<style define:vars={{ layers, rows, columns }}></style>
