---
import { blocks } from '@/data';
---

<section class="controls">
  <div class="block-chooser">
    <span class="label">Block type</span>
    {
      blocks.map((block) => (
        <label class={block} title={block}>
          <input type="radio" name="block-type" checked={block === 'stone'} />
        </label>
      ))
    }
  </div>
  <div class="move-buttons">
    <div class="move-button-pair">
      <span class="label">Vertical</span>
      <button class="up icon:arrow-circle-up" title="Move upwards"></button>
      <button class="down icon:arrow-circle-down" title="Move downwards"
      ></button>
    </div>
    <div class="move-button-pair">
      <span class="label">Horizontal</span>
      <button class="forwards icon:arrow-upward" title="Move forwards"></button>
      <button class="backwards icon:arrow-downward" title="Move backwards"
      ></button>
    </div>
    <div class="move-button-pair">
      <span class="label">Rotation</span>
      <button class="clockwise icon:rotate-right" title="Rotate clockwise"
      ></button>
      <button
        class="counterclockwise icon:rotate-left"
        title="Rotate counterclockwise"></button>
    </div>
    <div class="move-button-pair">
      <span class="label">View</span>
      <button class="look-up icon:keyboard-arrow-up" title="Look up"></button>
      <button class="look-down icon:keyboard-arrow-down" title="Look down"
      ></button>
    </div>
  </div>
</section>
